* {
	box-sizing: border-box;
}

body {
	margin-right: auto;
	margin-left: auto;
}

header {
	text-align: center;
}

h1, h2, legend {
	text-align: center;
	margin-bottom: 20px;
}

form {
	text-align: center;
	padding: 20px;
}

fieldset {
	border: none;
}

.column-3 {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.hidden {
	display: none;
}