* {
	box-sizing: border-box;
}

html {
	margin: auto;
	text-align: center;
	padding: 5px;
}

body {
	background-image: url("api-capstone-bg.png");
	margin-right: auto;
	margin-left: auto;
}

header {
	text-align: center;
}

h1, h2, legend {
	color: white;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Signika', sans-serif;
}

h1 {
	font-family: 'Righteous', cursive;
}

h3, h4 {
	font-size: 1.5em;
	font-variant: small-caps;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.section-title {
	font-size: 2em;
}

form {
	font-family: 'Signika', sans-serif;
	color: white;
	text-align: center;
	padding: 20px;
}

fieldset {
	border: none;
}

main {
	background-color: rgba(110, 110, 110, 0.6);
	text-align: center;
	border: .01px solid none;
	border-radius: 15px;
	box-shadow: 0 0 10px #888888;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
}

legend {
	font-size: 1.2em;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	text-align: center;
}

a {
	color: white;
}

a:hover {
	color: blue;
}

a:active, a:visited {
	color: purple;
}

.results {
	display: flex;
	flex: 1 1 0;
	justify-content: center;
}

.js-search {
	margin-right: 1%;
}

.js-max-results {
	margin-left: 1%;
}

.yt-title, .yt-li {
	display: block;
	font-size: 1em;
	margin-bottom: 5%;
}

.stream-url {
	margin-top: 2%;
	display: block;
}

.row {
	padding-left: 2%;
	padding-right: 2%;
}

.column-3 {
  float: left;
  width: 33.33%;
  padding-left: 1.04166666%;
	padding-right: 1.04166666%;
}

.chk-box-container, .checkbox-block {
	margin-top: 2%;
	margin-bottom: 2%;
}

.js-submit {
	font-family: 'Signika', sans-serif;
	width: 70px;
	border-radius: 15px;
	border-color: black;
}

.js-submit:hover {
	background-color: red;
}

.js-submit:active {
	background-color: purple;
	color: white;
}

.hidden {
	display: none;
}

.checkbox-block {
	display: block;
	text-align: center;
}

.results-container-1, .results-container-2, .results-container-3 {
	background-color: rgba(110, 110, 110, 0.6);
	text-align: center;
	border: .01px solid none;
	border-radius: 15px;
	margin-right: 1%;
	margin-left: 1%;
	box-shadow: 0 0 10px #888888;
}

/*small screen breakpoint css*/

@media only screen and (max-width: 1100px) {
	img, iframe {
		height: 50%;
		width: 70%;
	}

	.js-search, .js-max-results {
		margin: 1.5% auto 1.5% auto;
	}
}


/*mobile css, should work on screens under 800px width*/

@media only screen and (max-width: 800px) {

	main {
		width: 90%;
	}

	.row {
	  max-width: 1000px;
	  padding-left: 20px;
	  padding-right: 20px;
	  margin: 0 auto;
	}

	.row::before,
	.row::after {
	  content: "";
	  display: table;
	}

	.row::after {
	  clear: both;
	}

	.column-3 {
		float: left;
	  width: 100%;
	  padding-left: 1.04166666%;
		padding-right: 1.04166666%;
	}

	input {
		margin-bottom: 5%;
	}

	input[type=checkbox] {
		font-size: 0.5em;
		text-align: left;
	}
	img, iframe {
		height: 50%;
		width: 75%;
	}

	.results {
		display: block;
	}

	.js-search, .js-max-results {
		margin-top: 1.5%;
		margin-bottom: 1.5%;
	}

	.results-container-1, .results-container-2, .results-container-3 {
		margin-top: 5%;
	}
}